/* Rating-Stars */
.stars-container{
    font-size: 14px;
    height: 16px;
    width: 75px;
    line-height: 1;
    overflow: hidden;
}
.stars-container span {
float: left;
overflow: hidden;
padding-top: 1.5em;
position: absolute;
}
.rating-render:before {
    content: "\2605\2605\2605\2605\2605";
    font-size: 14px;
    color: gold !important;
font-family: fontawesome;
letter-spacing: 1.7px;
position: absolute;
top: 0;
}
.rating:before {
    color: #a9a9a9;
    content: "\2605\2605\2605\2605\2605";
    position: absolute;
}
/*sort by div*/
#edit-field-rating-wrapper {
    top: 0;
    right: 0;
    float: right;
}
#sidebar-first {
    margin-top: 10.7%;
}
